<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style media="screen">
        body{
          background:#23D3ED;
        }

      </style>
  </head>
  <body>
    <div class="container center-align">

      <lottie-player
          src="https://assets7.lottiefiles.com/datafiles/i1uFIojbGt3KRN2/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay >
      </lottie-player>
    <h5>Made with ♥ by Harsh Jha</h5>

    <a href="https://github.com/harshjhaaa"><button class="btn btn-large black"><i class="material-icons left"></i>Github</button></a>
 <a href="https://www.linkedin.com/in/harsh-chandra-jha-340ba8187"><button class="btn btn-large blue"><i class="material-icons left"></i> Linkedin </button></a>

    </div>
  </body>
</html>
