<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style media="screen">
          body{
            background:yellow;
          }
        </style>
      </head>
  <body>

<div class="container">
  <h1 class="white-text">Helplines</h1>
   <p class="flow-text ">Maximizing the efforts to contain the spread of novel Corona Virus (Covid-19), Ministry of Health & Family Welfare has provided these helpline numbers of States & Union Territories (UTs).</p>

   <p class="flow-text">National Helpline Number
   1075  |  1800-112-545
   Central Helpline Number
   +91-11-23978043  |  +91-11-23978046
   Central Helpline Email
   ncov2019@gmail.com</p>
   <h3><a href="https://www.mohfw.gov.in/coronvavirushelplinenumber.pdf">Helpline Numbers of States & Union Territories (UTs)</a></h3>
<a href="/"><button class="btn btn-large black">HOME</button></a>
</div>

  </body>
</html>
