<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style media="screen">
    body{
      background:red;
    }
    .container {
      background:red !important;
      height:400px;
      margin-top:50px;
    }
    ul .collection-item  {
      background:red !important;
    }
  </style>
  <body>
<div class="container">
  <ul class="collection with-header">
           <li class="collection-item"><h1 class="white-text">Sources</h1></li>
           <h5><a href="https://www.mohfw.gov.in/"><li class="collection-item white-text">Ministry of Health and Family Welfare Government of India</li></a></h5>
           <h5><a href="https://www.indiatoday.in/india/story/coronavirus-cases-in-india-covid19-states-cities-affected-1653852-2020-03-09"><li class="collection-item white-text">Daily trends by India Today</li></a></h5>
          <h5><a href="https://infographics.channelnewsasia.com/covid-19/map.html"><li class="collection-item white-text">	Realtime feed from Channelnewsasia</li></a></h5>

         </ul>
         <a href="/"><button class="btn btn-large">HOME</button></a>
</div>
  </body>
</html>
